.activeItem,
.listGroupItem {
  background: #ffffff !important;
  border-bottom-left-radius: 30px !important;
  border-top-left-radius: 30px !important;
  font-weight: bold;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  margin: 2px 0;
  width: 90% !important;
}

.listGroupItem {
  transition: all 0.3s ease;
}
