body {
  /* background-color: #6700dd00 !important; */
  font-family: "Truculenta", sans-serif !important;
  /* font-family: "Amiri", serif !important; */
}

.nav-link:hover {
  color: #60d8d2 !important;
}
.navbar-toggler {
  box-shadow: none !important;
}
.swiper .card,
.swiper .card img {
  transition: 0.4s;
}
.swiper .card img:hover {
  transform: scale(1.1);
}
.swiper .icons-cart-like {
  transition: 0.3s;

  color: #000;
}
.swiper .card:hover .icons-cart-like {
  bottom: -10px !important;
  z-index: 9999;
}
.swiper .card:hover {
  background-color: #e0f1f0 !important;
}
.offers .heading {
  position: relative;
  /* border-bottom: 1px solid #0ffef241; */
  /* border-radius: 5px; */
  overflow: hidden;
  width: fit-content;
}

.offers .heading::before,
.offers .heading::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #60d8d2;
  transform: translateY(-50%);
}

.form_main {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.inputContainer {
  margin-bottom: 20px;
}

.inputField {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #60d8d2;
  border-radius: 8px;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.inputField:focus {
  outline: none;
  border-color: #2a445e;
  box-shadow: 0 0 8px rgba(96, 216, 210, 0.5);
}

.button {
  background-color: #60d8d2;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  width: 100%;
}
.img-cat-home {
  transition: all 0.3s ease;
}
.img-cat-home:hover {
  transform: scale(1.1) rotate(3deg);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: transparent !important;
}
.button:hover {
  background-color: #2a445e;
}
.parent-icons-products-showandFAV:hover .icons-products-showandFAV {
  transition: 0.3s;
  right: 10px !important;
}
.parent-icons-products-showandFAV:hover img {
  transform: scale(1.1);
  transition: ease-in-out 0.3s;
}
